* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Comic Sans MS", "Comic Sans";
    background-color:hsl(132, 31%, 94%);
}

    /*INTRO*/
#intro{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro img{
    width: 100vw;
    height: 100vh;
    position: relative;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
  }

h1{
    width: 100vw;
    display: flex;
    align-content: space-around;
    justify-content: center;
    background-color: beige;
    color:rgb(131, 89, 38);
    font-size: 36px;
    padding: 3px;
    opacity: 80%;
    border-radius: 5%;
  }

#create{
    position: absolute;
    justify-content: center;
    background-color: rgb(3, 8, 40);
    color: rgb(206, 241, 102);
    font-size: 16px;
    padding: 12px;
    border: 3px solid blue;
    border-radius: 5px;

}

    /*TO-DO*/
#to-do{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*INPUT*/
#newtask{ 
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top:5rem;
    opacity: 80%;
}

#input{
    width: 530px;
    height: 40px;
    font-size: 15px;
    border:2px solid rgb(31, 33, 16);
    color: #0a0224;
    border-radius: 5px;
}

#add{
   border: none;
}

/*TRANSIT INTRO -> TO DO*/
.newList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease 0.2s;
}
  
div.fadeOut {
    opacity: 0;
    pointer-events: none;
}
  
div.fadeIn {
    opacity: 1;
    pointer-events: all;
} 

/*NEW LIST*/
#tasks{
    width: 550px;
    margin: 20px;
    background-color: white;
    color: #0a0224;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 80%;
    border-radius: 5%;
}

.todo{
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    background-color:hsl(132, 31%, 94%);   
}

.item{
    width: 90%;
    margin: 5px;
    border:1px solid #7b7495;
    border-radius: 3px;
}

/*OPTIONS FOR EACH ITEM*/
.itemOptions {
    display: inline-flex;
}

.check, .delete{
    width: 28px;
    height: 28px;
    background-color: #bace88;
    color: #eff3f8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(221, 223, 245);
    border-radius: 3px; 
}

.fa-trash{
    display: inline;
    justify-content: center;
}

.delete{
    background-color: #b6662d;
}

.completed{
    text-decoration: line-through;
}

/*MEDIA QUERY*/
@media (max-width: 550px){
    #input{
        width: 300px;
        height: 36px;
        font-size: 15px;
    }

    #tasks{
        width: 300px;
    }
  }